
  
 
  
  
 
  .cart-container { 
    padding-top: 3rem;
    display: flex;
    margin: 2rem;
    gap: 2rem;
  }
  
  .cart-items {
    flex: 3;
    background: #2a2e3c;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  }
  
  .cart-items h2 {
    color: #ddd;
    margin-bottom: 1rem;
  }
  
  .cart-items table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-items th, .cart-items td {
    color: #ddd;
    padding: 1rem;
    text-align: left;
    border-bottom: 0.063rem solid #996DC6;
  }
 
  .cart-items img {
    width: 5rem;
    height: auto;
    margin-right: 1rem;
    vertical-align: middle;
  }
  
  .cart-items button {
    padding: 0.2rem 0.5rem;
    border: 1px solid #2a2e3c;
    background: #2a2e3c;
    color: #ddd;
    cursor: pointer;
  }
  
  .cart-items button:hover {
    background: #4a4c50;
  }
  
  
  .remove {
    color: black;
    border: none;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
  }
  
  
  .summary {
    flex: 1;
    background: #2a2e3c ;
    padding: 1rem;
    border-radius:0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  }
  
  .summary h3 {
    color: #ddd;
    margin-bottom: 1rem;
  }
  
  .summary p {
    color: #ddd;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
  }
  
  .summary input {
    width: 90%;
    background-color: #2a2e3c;
    color: #ddd;
    padding: 0.5rem; 
    margin: 1rem 0;
    border: 0.063rem solid #ddd;
    border-radius: 0.25rem;
  }
  .summary label{
    color: #ddd;
  }
  
  .checkout{
    position: absolute;
    right: 6em;
  }