.shop-styling .sidebar {
  top: 100px;
  align-self: start;
  margin-left: 30px;
  width: 16em;
  height:auto;
  position: fixed;
  z-index: 10;
  padding-left: 1em;
  margin-left: 1em;
}
.shop-styling .sidebar *{
overflow-x: visible;
}
.shop-styling .filters::-webkit-scrollbar {
    width: 5px;
}

.shop-styling .filters::-webkit-scrollbar-thumb {
    background-color: #996dc6; 
    border-radius: 10px;
}

.shop-styling .filters::-webkit-scrollbar-track {
    background-color: #2a2e3c;
    border-radius: 10px;
}

.radio-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .radio-input * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
   .radio-input label {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 20px;
    width: 220px;
    cursor: pointer;
    height: 50px;
    position: relative;
  }
  

  .radio-input label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 45px;
    z-index: -1;
    border-radius: 10px;
    border: 2px solid #2a2e3c;
  }
   .radio-input label:hover::before {
    transition: 100ms;
    background-color: #2a2e3c;
  }
  
   .radio-input .label:has(input:checked)::before {
    background-color: #2d3750;
    border-color: #996dc6;
    height: 50px;
  }

  
   .radio-input .label input[type="radio"] {
    background-color: #202030;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   .radio-input .label input[type="radio"]:checked {
    background-color: #996dc6;
  }
  
   .radio-input .label input[type="radio"]:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: 100ms;
    background-color: #fff;
    transform: scale(0);
  }
  
   .radio-input .label input[type="radio"]:checked::before {
    transform: scale(1);
  }
  .shop-styling .tabs {
    display: flex;
    position: relative;
    background-color: #996dc6;
    box-shadow: 0 0 5px #996dc6, 0 0 0 1px #996dc6;
    padding: 0.75rem;
    border-radius: 99px;
    width:max-content;
    margin-top: 15px;
    z-index: 5;
    margin-bottom: 1em;
  }
  
  
  .shop-styling .tabs * {
    z-index: 2;
  }
  
  .shop-styling .tabs input[type="radio"] {
    display: none;
  }
  
  .shop-styling .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 50px;
    color: #fff;
    border-radius: 99px;
    cursor: pointer;
    transition:100ms;
  }
  
  .shop-styling .tabs input[type="radio"]:checked + label {
    color: #996dc6;
  }
  .shop-styling .container #radio-1:checked ~ .glider {
    transform: translateX(0);
    }
    .shop-styling   .container #radio-2:checked ~ .glider {
    transform: translateX(100%);
    }
  
    .shop-styling .glider {
    position: absolute;
    display: flex;
    height: 30px;
    width: 50px;
    background-color: #fff;
    z-index: 1;
    border-radius: 99px;
    transition: all 0.25s ease-out;
  }
  .shop-styling .container {
    position: absolute;
    width: 100%;
    height: 300%;
    overflow-x: visible;
    transition: left 0.3s ease-in-out; 
    height: max-content;
  }
  
  .shop-styling .filters {
    position: absolute;
    transition: all 0.3s ease-in-out; 
    overflow-y: scroll;
    max-height: 80vh;
    width: max-content;
    padding-left:1em ;
    padding-right: 1em;
    padding-bottom: 2em;
  }
  .shop-styling .container *{
    overflow-x: visible;
  }
  .shop-styling .container, .shop-styling .filters, .shop-styling .glider {
    will-change: left;
}

.shop-styling .clr{
  margin-top: 2em;
  margin-bottom: 4em;
}


@media (max-width: 768px) {
.shop-styling .container{
  left: -3em;
  .filters{
  left: -15em;
  }
  .glider{
   left:-1em;
  }
}

.shop-styling .container.active {
  left: 1em;
  .glider{
    left:0.7em;
  }
  
}

.shop-styling .filters.active {
  left: 0.5em;
}
.shop-styling .sidebar.active{
  padding-left: 1em;
  margin-left: 0em;
}
.shop-styling .sidebar{
  padding-left: 0em;
  margin-left: 0em;
}
.shop-styling .filters.active {
  overflow-y: auto;
}
.shop-styling .filters {
  overflow-y: hidden;
}

}
