

.shop-styling .pop-up {
    position: fixed;
    width: 60vw;
    max-height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    background-color: #1e1e2e;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px #996dc6;
    padding: 2em;
    overflow-y: auto;
    max-width: max-content;
  }
  
  .shop-styling .content-wrapper {
    display: grid;
    grid-template-areas: "left left left right";
  }
  
  .shop-styling .left-section {
    grid-area: "left";
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 2em;

  }
  
  .shop-styling .modal-img {
    border-radius: 0.7em;
    max-height: 22rem;
    display: block;
    margin-bottom: 1em;
  }
  
  .shop-styling .left-title {
    color: #fff;
    margin-top: 0.5em;
    font-size: 1.5em;
    text-align:start;
  }
  
  .shop-styling .description {
    color: #bbb;
    font-size: 14px;
    margin-top: 0.5em;
  }
  
  .shop-styling .right-section {
    grid-area: "right";
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  .right-desc, .license-info{
    padding: 1em;
    background-color: #2a2e3c;
    border-radius: 1em;
    width: 90%;
    align-self: center;
  }
  
  .shop-styling .action-buttons {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #2a2e3c;
    border-radius: 1em;
    width: 90%;
    align-self: center;
  }
  .shop-styling .buttons-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .shop-styling .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  
  .shop-styling .license-info {
    font-size: 14px;
    color: #bbb;
  }

  .like-btn .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .like-btn .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
    transition: all 0.3s ease 0s;
  }

  .like-btn .checkmark {
    top: 0;
    left: 0;
    height: 2em;
    width: 2em;
    animation: dislike_effect 400ms ease;
    transition: all 0.3s ease 0s;
  }

  .like-btn .container input:checked ~ .checkmark path {
    fill: #996dc6;
    stroke-width: 0;
  }

  .like-btn .container input:checked ~ .checkmark {
    animation: like_effect 400ms ease;
  }

  .like-btn .container:hover {

    transform: translateY(-3px) scale(1.1);
  }

  @keyframes like_effect {
    0% {
      transform: scale(0);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes dislike_effect {
    0% {
      transform: scale(0);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }
  .like-btn {
    transition: all 0.3s ease 0s;
    margin-top: 0.2em;
    margin-left: 2em;
  }

