
:root {
    --dark:#1e1e2e;
    --dark-variant:#2a2e3c;
    --light:#fff;
    --light-variant:#e4e4f5;
    --secondary-color:#996dc6;
  
    --primary-color:var(--dark);
    --variant:var(--light-variant);
    --bg-color:var(--light);
  }
  .dark-mode{
    --primary-color:var(--light);
    --variant:var(--dark-variant);
    --bg-color:var(--dark);
  }
  body{
    margin: 0;
    padding: 0;
  }
  body.dark-mode{
    background-color: var(--dark);
  }